* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background-color: #2E3944;
}

@media (max-width: 1400px) {
  html {
    font-size: 25px;
  }
}

 /* Tablet screen  */

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Mobile screen  */

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}


.add-hab-button{
  position: fixed;
  /* margin: 60% 5% 35% 75%; */
  /* margin: 70vh 5vw 23vh 85vw; */
  top: 75vh;
  right: 5vw;
  width: 10vw;
  height: 7vh;
  background-color: #124E66;
  border: 1px black solid;
}

.add-hab-button:hover{
  background-color: #D3D9D4;
  color: black;
}

.add-not-button{
  position: fixed;
  top: 83vh;
  right: 5vw;
  width: 10vw;
  height: 7vh;
  background-color: #124E66;
  border: 1px black solid;
}

.add-not-button:hover{
  background-color: #D3D9D4;
  color: black;
}

.header-element{
  background-color: #2E3944;
  font-size: 130%;
  /* margin: -50px 0px 10px -10px; */
  margin: -15vh 0% 0% 0% ;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  height: 15vh;
  position: fixed;
}

.header-td{
  border: #748D92 1px solid;
}

.header-td:hover{
    background-color: #D3D9D4;
    color: black;
}

.header-td:active {
    background-color: #124E66;
}

main{
  background-color: #141414;
  margin: 15vh 0px 0px 0px/*10px 0px 10px*/;
  min-height: 80vh;
  /* padding: 10px; */
  
}

.today-habs{
  background-color: #141414;
  width: 100vw;
  text-align: center;
  /* border-collapse: collapse; */
  border: none;
}

.today-th, .today-td{
  background-color: #141414;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  height: 7vh;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
}

td, th{
    border: 1px solid;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: inline;
}

li:hover {
    background-color: #D3D9D4;
}

li:active {
    background-color: rgb(0,0,0);
}

.chapter-name{
  background-color: #141414;
  font-size: 300%;
  margin-left: 10vw;
}

input{
  margin: 0px;
  border: 5px solid black;
  width: 50%;
  height: 50%;
}

input[type="radio"] {
  accent-color: #124E66; 
}